﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Secutity.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <div class="vertical-align">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    @Html.Partial("_Alert")
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>@ViewBag.Title</h4>
                        </div>
                        <div class="panel-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>