﻿@model IEnumerable<GestionStock.ASP.Models.Product.ProductModel>


<div class="table-responsive">


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (Session.HasAnyRole(UserRole.Admin))
                    {
                        <a class="btn btn-xs btn-success" href="@Url.Action("Edit", new { id = item.Reference })"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-xs btn-danger delete-btn" href="@Url.Action("Delete", new { id = item.Reference })"><i class="fa fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </table>
</div>

