﻿@model GestionStock.ASP.Models.Order.Forms.AddOrderLineModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @* use dropdown list if you dont want to make ajax calls *@
                @Html.LabelFor(model => model.ProductRef, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ProductRef, new { htmlAttributes = new { @class = "form-control", list = "ProductRefList" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" style="text-align:right">
                <input type="submit" value="Ajouter/Modifier" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
