﻿@model IEnumerable<GestionStock.ASP.Models.Order.OrderLineModel>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinePrice)
            </th>
        </tr>
        <tbody id="orderLinesTbody">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductRef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinePrice)
                </td>
            </tr>
        }
        </tbody>   
    </table>
