﻿@model GestionStock.ASP.Models.Order.Forms.EditOrderModel

@{
    ViewBag.Title = "Edit";
}

<a href="@Url.Action("Index")"><i class="back-btn fa fa-arrow-circle-left"></i></a>
<h4>Modification de la commande @Model.Reference</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerRef, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CustomerRef, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
</div>

<h4>Lignes de commande</h4>
<hr />
@if (Model.Status == OrderStatus.InProgress)
{
    @Html.Partial("_CreateEditLine", Model.NewLine)
    @Html.Partial("_OrderLinesTable", Model.OrderLines)
}
else
{
    @Html.Partial("_OrderLinesTableReadonly", Model.OrderLines)
}


<div class="row">
    <div class="col-md-offset-8 col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 order-actions">
        <a class="btn btn-primary" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> Revenir à la page d'index</a>
        @if ((int)Model.Status < 1)
        {
            <a class="btn btn-info" href="@Url.Action("Pend", new { Id = Model.Reference })"><i class="fa fa-check"></i> Terminer la commande</a>
        }
        @if ((int)Model.Status < 2 && Session.HasAnyRole(UserRole.Admin))
        {
            <a class="btn btn-success need-confirm" href="@Url.Action("Close", new { Id = Model.Reference })"><i class="fas fa-check-circle"></i> Valider le paiement</a>
            <a class="btn btn-danger need-confirm" href="@Url.Action("Cancel", new { Id = Model.Reference })"><i class="fas fa-exclamation-triangle"></i> Annuler la commande</a>
        }
    </div>
</div>

<datalist id="ProductRefList">
</datalist>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    @if (Model.Status == OrderStatus.InProgress)
    {
        <script>
            // for table update
            const url = '@Url.Action("Edit", "Order", new { Id = Model.Reference })';
            const form = document.querySelector('form');
            const productRefInput = document.getElementById('ProductRef');
            const quantityInput = document.getElementById('Quantity');
            const tbody = document.getElementById('orderLinesTbody');
            const deleteButtons = document.querySelectorAll('.delete-btn');
            const totalInput = document.getElementById('Total');

            const drawLines = ({ data }) => {
                // if you don't want to render the view u can just call window.location.reload;
                tbody.innerHTML = '';
                for (let item of data.lines) {
                    const tr = createLine(item);
                    tbody.appendChild(tr);
                }
                const sum = data.lines.reduce((res, item) => {
                    res += item.LinePrice;
                    return res;
                }, 0);
                totalInput.value = sum;

                productRefInput.value = '';
                quantityInput.value = 0;

                productRefInput.focus();
                searchProducts();
                toastr.success('Enregistrement OK');
            }

            const deleteLine = e => {
                const productRef = e.target.getAttribute('data-ref');
                axios.post(url, {
                    productRef,
                    quantity: 0
                }).then(drawLines)
                .catch(xhr => {
                    toastr.error('Une erreur est survenue');
                });
            }

            const createLine = (item) => {
                const tr = document.createElement('tr');
                const productRefTd = document.createElement('td');
                const quantityTd = document.createElement('td');
                const unitPriceTd = document.createElement('td');
                const linePriceTd = document.createElement('td');
                const actionsTd = document.createElement('td');

                tr.appendChild(productRefTd);
                tr.appendChild(quantityTd);
                tr.appendChild(unitPriceTd);
                tr.appendChild(linePriceTd);
                tr.appendChild(actionsTd);

                productRefTd.innerText = item.ProductRef;
                quantityTd.innerText = item.Quantity;
                unitPriceTd.innerText = item.UnitPrice;
                linePriceTd.innerText = item.LinePrice;

                const iTrash = document.createElement('i');
                const aDelete = document.createElement('a');
                iTrash.classList.add('fa', 'fa-trash');
                aDelete.classList.add('btn', 'btn-xs', 'btn-danger', 'delete-btn');
                aDelete.setAttribute('data-ref', item.ProductRef);
                aDelete.appendChild(iTrash);
                aDelete.addEventListener('click', deleteLine);
                actionsTd.appendChild(aDelete);

                return tr;
            }

            form.addEventListener('submit', e => {
                e.preventDefault();
                if (!productRefInput.value || !parseInt(quantityInput.value)) {
                    toastr.error('Vérifiez vos données');
                    return;
                }
                axios.post(url, {
                    productRef: productRefInput.value,
                    quantity: parseInt(quantityInput.value)
                }).then(drawLines)
                .catch(xhr => {
                    toastr.error('Une erreur est survenue');
                });
            });

            for (let btn of deleteButtons) {
                btn.addEventListener('click', deleteLine);
            }
                // for dynamic search
            const productRefList = document.getElementById('ProductRefList');
            const productUrl = '@Url.Action("Search", "Product")';

            const searchProducts = () => {
                const value = productRefInput.value;
                axios.get(productUrl + (value ? '?search=' + value : '')).then(({ data }) => {
                    productRefList.innerHTML = '';
                    for (let item of data) {
                        const option = document.createElement('option');
                        option.setAttribute('value', item.Reference);
                        option.innerText = item.Label;
                        productRefList.appendChild(option);
                    }
                });
            }

            productRefInput.addEventListener('input', searchProducts);
            searchProducts();
        </script>
    }

    <script>
        const btns = document.querySelectorAll('.need-confirm');
        for (let btn of btns) {
            btn.addEventListener('click', e => {
                e.preventDefault();
                confirmBox.show({
                    title: 'Demande de confirmation.',
                    content: `<p>Voulez-vous poursuivre cette opération?</p>
                                          <p><bold><i class="fas fa-exclamation-triangle"></i> Il ne sera plus possible de revenir en arrière après ce changement !</bold></p>`,
                    onConfirm: () => {
                        // besoin de supprimer l'event des icons pour être sûr
                        // que e.target soit bien le lien "<a>"
                        // voir css
                        window.location.href = e.target.getAttribute('href');
                    }
                });
            });
        }
    </script>
}