﻿@model GestionStock.ASP.Models.Order.OrderIndexModel
@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Nouvelle", "Create", null, new { @class = "btn btn-primary" })
</p>

<form method="get">
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Reference)
            @Html.EditorFor(m => m.Reference, new { htmlAttributes = new { @class = "form-control", autofocus = true, placeholder = "reference" } })
            @Html.ValidationMessageFor(m => m.Reference, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.CustomerRef)
            @Html.DropDownListFor(m => m.CustomerRef, Model.AllCustomers, new { @class = "form-control select2" })
            @Html.ValidationMessageFor(m => m.CustomerRef, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.FromDate)
            @Html.EditorFor(m => m.FromDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Depuis" } })
            @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ToDate)
            @Html.EditorFor(m => m.ToDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Jusqu'à" } })
            @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.SelectedStatuses)
            @Html.ListBoxFor(m => m.SelectedStatuses, Model.AllStatuses, new { @class = "form-control select2-multiple", multiple = true })
            @Html.ValidationMessageFor(m => m.SelectedStatuses, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <a href="@Url.Action("Index")" class="btn btn-default">Reset <i class="fas fa-undo"></i></a>
            <button class="btn btn-info">Rechercher <i class="fa fa-search"></i></button>
        </div>
    </div>
</form>

@* Pas de pagination sur la page de recherche des commandes on affiche que les 10 premiers résultats *@

@if (Model.Results.Count() > 0)
{
    @Html.Partial("_Table", Model.Results)
}
else
{
    <p>Aucun résultat</p>
}


