﻿body {
    min-height: 100vh;
    display: block;
}

.panel-body {
    text-align: right;
}

.row {
    width: 100%;
}

.vertical-align {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin-left: 15px;
}

.panel-heading > h4 {
    color: white;
}