﻿* {
    box-sizing: border-box;
}

h6, h5, h4, h3, h2, h1, span, a, p, div, th, td {
    color: #2e6da4;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    border-bottom: 1px solid #2e6da4;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #337ab7;
}

header > * {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: all ease .3s;
}

header .action-menu {
    cursor: pointer;
}

header .action-menu:hover {
    transform: scale(1.1);
    color: #ccc;
}


header > #toggle-menu {
    display: none;
}

main {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

main > nav {
    width: 300px;
    border-right: 1px solid #2e6da4;
    box-sizing: border-box;
}

main > nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main > nav > ul > li {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #2e6da4;
}

main > nav > ul > li > a {
    color: #337ab7;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: bold;
}

main > nav > ul > li > a > .menu-icon {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}

main > nav > ul > li > a:hover {
    text-decoration: none;
}

main > nav > ul > li.active {
    background-color: #2e6da4;
}

main > nav > ul > li.active > a {
    color: white;
}

main > nav > ul > li:hover {
    background-color: #337ab7;
}

main > nav > ul > li:hover > a{
    color: white;
}

main > .content {
    flex-grow: 1;
    padding: 20px;
    max-width: 100%;
}

footer {
    height: 50px;
    border-top: 1px solid #2e6da4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e6da4;
}

.delete-btn > i, .need-confirm > i {
    pointer-events: none;
}

.back-btn {
    font-size: 36px;
}

.order-actions {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.order-actions > .btn {
    margin: 0 5px;
}

.toast-message {
    color: white;
}

@media screen and (max-width: 767px) {
    main > nav {
        position: fixed;
        width: 100%;
        max-width: 300px;
        left: -300px;
        transition: all ease .3s;
        z-index: 1000;
        background-color: white;
        height: 100%;
    }

    main > nav.open {
        left: 0;
    }

    header > #toggle-menu {
        display: block;
    }

    header > :nth-child(2) {
        font-size: 16px;
        text-align: center;
    }

    header > * {
        font-size: 16px;
    }
}
