﻿@model GestionStock.ASP.Models.Customer.CustomerIndexModel

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Nouveau", "Create", null, new { @class = "btn btn-primary" })
</p>

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            @Html.EditorFor(m => m.Search, new { htmlAttributes = new { @class = "form-control", autofocus = true, placeholder = "ref, nom, prenom, email" } })
            @Html.ValidationMessageFor(m => m.Search, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-12">
            <button class="btn btn-info"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>

@if (Model.Results.Count() > 0)
{
    @Html.Partial("_Table", Model.Results)
    @PaginationHelper.Create(Model.Offset, Model.Limit, Model.Count, new { search = Model.Search })
}
else
{
    <p>Aucun résultat</p>
}

@section scripts {
    <script>
        const deleteBtns = document.querySelectorAll('.delete-btn');
        for (let btn of deleteBtns) {
            btn.addEventListener('click', e => {
                e.preventDefault();
                confirmBox.show({
                    title: 'Demande de confirmation.',
                    content: `Êtes vous sûr de vouloir supprimer ce client?`,
                    onConfirm: () => {
                        // besoin de supprimer l'event des icons pour être sûr 
                        // que e.target soit bien le lien "<a>"
                        // voir css
                        window.location.href = e.target.getAttribute('href');
                    }
                });
            });
        }
    </script>
}
