﻿@using System.Reflection
@using System.Linq

@helper Create(int offset, int limit, int count, object parameters = null)
{
    if (count > limit)
    {
        string baseUrl = "?";
        if(parameters != null)
        {
            baseUrl += string.Join("&", parameters.GetType().GetProperties()
                .Select(p => $"{p.Name}={p.GetValue(parameters)}"));
            baseUrl += "&";
        }
        <nav>
            <ul class="pagination">
                @if (offset-limit >= 0)
                {
                    <li class="page-item"><a class="page-link" href="@(baseUrl)offset=@(offset-limit)&limit=@limit">Précédent</a></li>
                }
                else
                {
                    <li class="page-item disabled"><span>Précédent</span></li>
                }
                @for (int i = 0; i < (double)count/limit; i++)
                {
                    if (i*limit != offset)
                    {
                        <li class="page-item"><a class="page-link" href="@(baseUrl)offset=@(i*limit)&limit=@limit">@(i+1)</a></li>
                    }
                    else
                    {
                        <li class="page-item active"><span>@(i+1)</span></li>
                    }
                }
                @if (offset+limit < count)
                {
                    <li class="page-item"><a class="page-link" href="@(baseUrl)offset=@(offset+limit)&limit=@limit">Suivant</a></li>
                }
                else
                {
                    <li class="page-item disabled"><span>Suivant</span></li>
                }
            </ul>
        </nav>
    }
}