﻿@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <strong><i class="fas fa-check-circle"></i></strong> @TempData["success"].
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["info"] != null)
{
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <strong><i class="fas fa-exclamation-circle"></i></strong> @TempData["info"].
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <strong><i class="fas fa-exclamation-triangle"></i></strong> @TempData["error"].
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
