﻿<!DOCTYPE html>
<html lang="fr-be">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestion de Stock</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select2.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <i id="toggle-menu" class="fa fa-bars action-menu"></i>
        <h3>ASP Framework - Gestion Stock</h3>
        <a href="@Url.Action("Logout", "Authentication", new { Area = "Security" })"><i class="action-menu fa fa-power-off"></i></a>
    </header>
    <main>
        @Html.Partial("_Nav")
        <div class="content">
            @Html.Partial("_Alert")
            @RenderBody()
        </div>
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - BSTORM</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/bs-confirm-box")
    <script>
        $('.select2').select2({ theme: 'bootstrap', width: '100%' });
        $('.select2-multiple').select2({ width: '100%' });
        $('#toggle-menu').on('click', e => {
            $('nav').toggleClass('open');
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
