﻿@{

    (string, string, string, string)[] items = {
        ("Clients", "fa fa-users", "Customer", "Index"),
        ("Produits", "fas fa-tags", "Product", "Index"),
        ("Commandes", "fas fa-file-alt", "Order", "Index"),
    };

    if(Session.HasAnyRole(UserRole.Admin))
    {
        items = new [] {
            ("Dashboard", "fa fa-pie-chart", "Dashboard", "Index"),
            ("Clients", "fa fa-users", "Customer", "Index"),
            ("Produits", "fas fa-tags", "Product", "Index"),
            ("Commandes", "fas fa-file-alt", "Order", "Index"),
        };
    }




    string currentAction = ViewContext.RouteData.Values["Action"].ToString();
    string currentController = ViewContext.RouteData.Values["Controller"].ToString();
}

<nav>
    <ul>
        @foreach (var item in items)
        {
            @*<li class="@(currentAction == item.Item4 && currentController == item.Item3 ? "active" : "")">*@
            <li class="@(currentController == item.Item3 ? "active" : "")">
                <a href="@Url.Action(item.Item4, item.Item3)"><i class="menu-icon @item.Item2"></i>@item.Item1</a>
            </li>
         }
    </ul>
</nav>
