﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.Action("Stock")
</div>
<div class="row">
    @Html.Action("StatusRepartitionPieChart")
</div>

@section scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
}
