﻿@model IEnumerable<GestionStock.BLL.BusinessObjects.OrderStatusRepartitionBO>

<div id="chart1" class="col-md-6"></div>
<div id="chart2" class="col-md-6"></div>

<script>
    const data = [];

    // serait bcp plus flexible en ajax
    @foreach(var item in Model)
    {
        <Text>
            data.push({
                name: '@item.Status',
                count: @item.Count,
                subTotal: @item.SubTotal.ToString().Replace(',', '.'),
            });
        </Text>
    }

    window.addEventListener('load', () => {
        Highcharts.chart('chart1', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Cumul des commandes par état'
            },
            series: [
                {
                    name: "Ètats",
                    data: data.map(x => ({
                        name: x.name,
                        y: x.count
                    }))
                }
            ]
        });

        Highcharts.chart('chart2', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Cumul des totaux par État'
            },
            yAxis: {
                title: {
                    text: 'Cummul des Totaux'
                }

            },
            series: data.map(x => ({
                name: x.name,
                data: [x.subTotal]
            }))
        });
    })
</script>