﻿@model IEnumerable<GestionStock.BLL.BusinessObjects.ProductBO>

<div id="chartStock" class="col-md-12"></div>

<script>
    const stock = [];

    // serait bcp plus flexible en ajax
    @foreach(var item in Model)
    {
        <Text>
            stock.push({
                name: '@item.Name',
                count: @item.Stock,
            });
        </Text>
    }

    window.addEventListener('load', () => {
       
        Highcharts.chart('chartStock', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Stock par produit'
            },
            subTitle: {
                text: '50 premiers produits au niveau le plus bas'
            },
            yAxis: {
                title: {
                    text: 'Quantité'
                }

            },
            series: stock.map(x => ({
                name: x.name,
                data: [x.count]
            })).sort((a, b) => a.name > b.name ? 1 : -1)
        });
    })
</script>